/* Navbar CSS */
.content-sizing {
    max-width: 1150px;
    margin: 0 auto;
    background-color: var(--background--color);
    color: var(--text-color) !important; /* Use the same font color as the body */
}

a {
    color: var(--primary-color) !important;
}


.nav-section-container{
    border-bottom: solid 2px rgba(255, 255, 255, 0.7); 
   
}

/* qrstories */

.app-title-heading{
    background-color: var(--secondary--text--color);
}

.generate-file-container{
    background-color:var(--secondary-background-color) !important;

}

.carousel-img {
    opacity: 0.2;
    max-height: 70vh;
    max-width: 100vh;
    object-fit: cover;
  }

.qr-hero-img img{
    height: 70vh;
    object-fit: cover;
}

/* Ensure pointer and hover effects */
.option-container {
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Change background and text color on hover */
  .option-container:hover {
    background-color: #343a40; /* Dark background on hover */
    color: white; /* Change text and icon color to white */
  }
  

  .option-label {
    cursor: pointer;
  }
  
  .option-label  {
    cursor: pointer;
    transition: color 0.3s ease; 
  }
  
 
  /* Style for white placeholder text */
input::placeholder {
  color: white;
  opacity: 1; /* Ensures that the placeholder is fully visible */
}

/* If you want to target only specific inputs, you can use a class or ID */
.form-control::placeholder {
  color: white;
  opacity: 1;
}