:root {
    /* Base font size */
    font-size: 16px;
  
    /* Font family */
    --font-family: 'Tinos', serif !important; /* Example font */
  
    /* Colors */
    --background-color: rgb(74, 87, 105) !important; /* Light gray background */
    --text-color: rgba(255, 255, 255, 0.7); /* Dark gray for text */
    --secondary-text-color: rgb(216, 208, 208);
    --secondary-background-color: rgb(134, 150, 170);
  
    /* Spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
  
    /* Border radius */
    --border-radius: 4px;
}

/* Body CSS */
body {
    font-family: var(--font-family) !important;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important; /* Default font color */
    margin: 0;
    padding: 0;
}
